---
import Header from '../layouts/Header.astro';
import TopNav from '../layouts/TopNav.astro';
import '@fontsource/Montserrat';
import Background from '../layouts/Background.astro';
---

<Header title="Elliott Ives">
    <main class="w-full h-full min-h-screen bg-slate-900 flex flex-col gap-5 items-center text-slate-50 z-50">
        <Background />
        <TopNav />

        <div class="bg-slate-900 shadow-xl p-5 border-2 border-slate-800 rounded-xl mt-44 max-s:mt-36 relative">
            <img class="circle w-64 h-64 object-cover top-0 absolute mt-[-150px] center-absolute border-2 border-slate-50" src="/images/me.png" />

            <div class="flex flex-col gap-3 mt-20">
                <h1 class="text-5xl text-center">
                    Hi, I'm <span class="bg-gradient-to-r from-blue-600 to-purple-500 text-transparent bg-clip-text font-bold text-6xl">Elliott Ives</span>
                </h1>

                <h1 class="text-left">I develop sleek, expressive, and ergonomic applications for the web.</h1>
            </div>
        </div>

        <div class="h-full mx-3">
            <div class="grid lg:grid-cols-3 md:grid-cols-1 gap-5">
                <div class="bg-slate-900 shadow-xl p-5 border-2 border-slate-800 rounded-xl">
                    <h1 class="mb-5 text-2xl">About Me</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ullam eveniet, ipsa sequi dolorem eum earum. Impedit illum minus fugit
                        similique, alias ut hic reprehenderit perferendis corporis at, sed porro!
                    </p>
                </div>

                <div class="bg-slate-900 shadow-xl p-5 border-2 border-slate-800 rounded-xl">
                    <h1 class="mb-5 text-2xl">My Work Experience</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, aut! Accusamus ipsa voluptatum porro ab molestiae quo nulla
                        blanditiis, delectus exercitationem quaerat corrupti? Laboriosam commodi eligendi asperiores nesciunt similique vel.
                    </p>
                </div>

                <div class="bg-slate-900 shadow-xl p-5 border-2 border-slate-800 rounded-xl">
                    <h1 class="mb-5 text-2xl">My Favorite Tools</h1>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam officia corporis harum adipisci quisquam omnis asperiores voluptas
                        pariatur, ducimus praesentium quis, modi cum odio maiores illum veniam quasi dolore iure!
                    </p>
                </div>
            </div>
        </div>
    </main>
</Header>

<style is:global>
    * {
        font-family: 'Montserrat', sans-serif;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;
        backface-visibility: hidden;
        transform: translateZ(0);
        -webkit-font-smoothing: subpixel-antialiased;
    }

    .circle {
        border-radius: 50%;
    }

    .center-absolute {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    svg {
        width: 100%;
        height: 100%;
    }
</style>
