---
// Here is where we define the props for this component.
// Whenever you define an interface Props, it is automagically picked up by Astro.

export interface Props {
    buttonText: string;
    href: string;
    imagePath?: string | undefined;
    cssIconName?: string | undefined;
}

const { buttonText, imagePath, href, cssIconName } = Astro.props;
---

<a href={href} target="_blank" rel="noopener noreferrer" class="flex items-center justify-center max-sm:w-full">
    <button
        class="border px-3 py-2 w-full rounded-lg flex items-center justify-center gap-5 hover:translate-y-[-2px] transition ease-in-out duration-300 hover:bg-gradient-to-tr from-blue-700 to-purple-700 active:scale-95 hover:border-slate-900"
    >
        <p>{buttonText}</p>
        {imagePath && <img src={imagePath} height="20" width="20" />}
        {cssIconName && <i class={cssIconName} />}
    </button>
</a>
