---
// Here is where we define the props for this component.
// Whenever you define an interface Props, it is automagically picked up by Astro.

export interface Props {
    buttonText: string;
    imagePath: string | undefined;
    href: string;
}

const { buttonText, imagePath, href } = Astro.props;
---

<a href={href} target="_blank" rel="noopener noreferrer">
    <button
        class={`border px-3 py-2 w-32 rounded-lg flex items-center hover:translate-y-[-2px] transition ease-in-out duration-300 hover:bg-gradient-to-tr from-blue-700 to-purple-700 active:scale-95 hover:border-slate-900
        ${imagePath ? 'justify-between' : 'justify-center'}`}
    >
        <p>{buttonText}</p>
        {imagePath && <img src={imagePath} height="20" width="20" />}
    </button>
</a>
