---
// Here is where we define the props for this component.
// Whenever you define an interface Props, it is automagically picked up by Astro.

export interface Props {
    header: string;
    body: string;
}

const { header, body } = Astro.props;
---

<div class="bg-slate-900 shadow-xl p-5 border-2 border-slate-800 rounded-xl opacity-0">
    <h1 class="mb-5 text-2xl font-semibold">{header}</h1>
    <p>{body}</p>
</div>
