<main class="w-full h-12 text-slate-50 absolute bottom-0">
    <div class="flex w-full items-center justify-center">
        <div class="bg-slate-900 shadow-xl p-2 border-2 border-slate-800 rounded-full w-1/5">
            <h1 class="text-center">Website built with Astro and TailwindCSS.</h1>
        </div>
    </div>
</main>
