---
import LinkButton from '../components/LinkButton.astro';
---

<main class="w-full h-12 text-slate-50">
    <div class="flex gap-8 justify-end mr-8 mt-5">
        <LinkButton href="https://github.com/ivesej17" buttonText="GitHub" imagePath={'/images/github-mark-white.svg'} />
        <LinkButton href="https://www.linkedin.com/in/elliott-ives-3b42a9200/" buttonText="LinkedIn" imagePath={'/images/linkedin-3-64.png'} />
        <LinkButton href="https://www.google.com" buttonText="Resume" imagePath={undefined} />
    </div>
</main>
